body{
    margin: 0;
    padding: 0;
}

.card{
    height: 100%;
}

.card-body{
    height: 30%;
}

.card img{
    height: 60%;
}



.logo-container{
    width: 100%;
}

.logo-container img{
    width: 25%;
    height: 25%;
}

